= fields_for @base_class do |record|
  = record.fields_for(:custom_fields, @custom_field) do |builder|
    %div{:class => "inline form-inline control-group custom_field"}
      = builder.label :name
      = builder.text_field :name
      = builder.label :content
      = builder.text_field :content
      %span{ :class => "fake_link delete_new_custom_field btn btn-small btn-danger"} Delete

