.accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{:data => {:toggle => "collapse", :target => "#general_fields"}} 
        General
    #general_fields.accordion-body.collapse.in
      .accordion-inner
        = f.label :parent_id
        = f.collection_select :parent_id, parent_pages_asc, :id, :title, { :include_blank => true, :selected => parent_selected(@parent_page) }

        = f.label :title, mark_required('Title')
        = f.text_field :title

        = f.label 'layout_id', mark_required('Layout')
        = f.collection_select :layout_id, Layout.all_from_current_site(@current_site), :id, :name, :prompt => true
        
        = f.fields_for :current_state do |builder|
          = builder.label 'name', mark_required('Status')
          = builder.collection_select :name, CurrentState.all, :id, :name
