= f.fields_for(:page_parts, @page.page_parts) do |builder|
  %div{:id => "#{builder.object.id}", :class => "form_fields tab-pane #{show_page_part(builder.object)}" }
    .page_part_name
      = builder.label :name, "Page Part Name<abbr title='required' class='required'>*</abbr>".html_safe
      = builder.text_field :name
    .inline
      = builder.label :filter_name, "Filter<abbr title='required' class='required'>*</abbr>".html_safe
      = builder.collection_select :filter_name, Filter.all, :id, :name, {}, {:class => "page_part_filter"}
    .content
      = render :partial => 'shared/ace_editor', :locals => { :builder => builder }
    .content_submit
      = builder.label :content, "Page Part Content<abbr title='required' class='required'>*</abbr>".html_safe 
      = builder.text_area :content, :class => "page_part_contents code"
    = builder_hidden_attribute(builder, @page)
