.accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{:data => {:toggle => "collapse", :target => "#article_content_area"}} 
        Content
    #article_content_area.accordion-body.collapse.in
      .accordion-inner
        = f.label :filter_name, mark_required('Filter')
        = f.collection_select :filter_name, Filter.all, :id, :name, {}, {:class => "page_part_filter"}
        .content
          = render :partial => 'shared/ace_editor', :locals => { :asset => @article.content, :builder => nil }
        .content_submit
          = f.label :content
          = f.text_area :content, :class => "code"
        .content