.accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{:data => {:toggle => "collapse", :target => "#article_content_area"}} 
        Content
    #article_content_area.accordion-body.collapse.in
      .accordion-inner
        = f.label :filter_name, mark_required('Filter')
        = f.collection_select :filter_name, Filter.all, :id, :name, {}, {:class => "page_part_filter"}
        .content
          %p.label_for.ace_label Subheading
          %pre#article_subheading_content.span8= @article.subheading
        .content_submit
          = f.label :subheading
          = f.text_area :subheading, :class => "code"
        .content