#form_submit_fields.form-actions
  - if @theme_asset.new_record?
    = link_to "back to collection", [:admin, @theme_collection, :theme_assets], class: 'btn cancel plupload hidden'
    = link_to 'reset form', [:new, :admin, @theme_collection, :theme_asset], class: ' btn btn-danger cancel plupload hidden'
    = f.submit button_label, :class => "btn btn-success submit no-plupload"
    = link_to "cancel", [:admin, @theme_collection, :theme_assets], :class => "cancel no-plupload"
  - else
    = f.submit button_label, :class => "submit btn btn-success"
    = link_to "cancel", [:admin, @theme_collection, :theme_assets], :class => "cancel"