.accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{:data => {:toggle => "collapse", :target => "#general_fields"}} 
        General
    #general_fields.accordion-body.collapse.in
      .accordion-inner
        - if @site_asset.new_record?
          = render :partial => 'new_site_asset', :object => f
        - else 
          = f.label :name, "Name"
          = f.text_field :name

          = f.label :tag_list
          = f.text_field :tag_list

          = render :partial => 'site_asset'
        #submit_fields.form-actions
          = render :partial => 'form_submit', :locals => { :f => f, :button_label => button_label }