.img_thumb 
  %label= "Filename "
  = link_to "#{@site_asset.asset.file.filename}", "http://#{request.host}#{@site_asset.asset.url}"

  %label= "Filename with MD5 fingerprint "
  = link_to "#{@site_asset.filename_md5}", "http://#{request.host}#{@site_asset.url_md5}"
