!!! 5
%html
  %head{:charset => "UTF-8"}
    %title= "#{@current_site.name.titleize} - #{yield :title}"|| "MoustacheCMS"
    = stylesheet_link_tag "application"
    = javascript_include_tag "login_focus"
    = csrf_meta_tag
    :css
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
  %body
  - flash.each do |name, msg|
    - unless name == :timedout
      #flash_notice_wrapper{:class => "alert alert-block alert-#{name}"}
        %a.close{:data => {:dismiss => "alert", :href => "#"}} &times;
        %p{:id => "flash_#{name}"}= msg

  #wrapper.container
    = yield
